{
    "presets": [
        [
            "@babel/preset-env"
        ],
        [
            "@babel/preset-react"
        ]
    ]
    // ,
    // "plugins": [
    //     [
    //         "@babel/plugin-proposal-class-properties"
    //     ],
    //     [
    //         "babel-plugin-styled-components"
    //     ],
    //     [
    //         "@babel/plugin-transform-regenerator",
    //         {
    //             "asyncGenerators": false,
    //             "generators": false,
    //             "async": false
    //         }
    //     ],
    //     [
    //         "css-modules-transform"
    //     ]
    // ]
}